<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Landing Page" verbose="1">
<listeners>
    <listener class-name = "com.qa.orangehrmliveUtilities.TestNGListner"></listener>
    </listeners>
     <parameter name="browser" value="chrome"/>
  <test thread-count="5" name="TestOrangeHRMLiveApp LoginPg">
    <classes>
      <class name="com.qa.orangehrmliveTestscript.TestHRMAppLoginTC"/>
      </classes>
  </test> <!-- Login Page --> 
  <test thread-count="5" name="TestOrangeHRMLiveApp LandingPg">
    <classes>
      <class name="com.qa.orangehrmliveTestscript.TestHRMApplicationLandingTC"/>
    </classes>
  </test> <!-- Landing Page -->


</suite> <!-- Suite -->
